{% block sw_cms_el_config_text %}
    <sw-tabs
            position-identifier="sw-cms-element-config-text"
            class="sw-cms-el-config-text__tabs"
            default-item="content">
        <template slot-scope="{ active }">
            {% block sw_cms_el_config_text_tab_content %}
                <sw-tabs-item
                        :title="$tc('sw-cms.elements.general.config.tab.content')"
                        name="content"
                        :active-tab="active">
                    {{ $tc('sw-cms.elements.general.config.tab.content') }}
                </sw-tabs-item>
            {% endblock %}
        </template>

        <template
                slot="content"
                slot-scope="{ active }">
            {% block sw_cms_el_text_config_content %}
                <sw-container
                        v-if="active === 'content'"
                        class="sw-cms-el-config-text__tab-content">
                    <sw-text-field v-model="element.config.cookie.value"/>
                    <sw-text-editor
                            v-model="element.config.source.value"
                            sanitize-input/>

                    {% block sw_cms_element_youtube_video_config_preview_media %}
                            <sw-media-upload-v2
                                    variant="regular"
                                    :upload-tag="uploadTag"
                                    :source="previewSource"
                                    :allow-multi-select="false"
                                    :default-folder="cmsPageState.pageEntityName"
                                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                    @media-upload-sidebar-open="onOpenMediaModal"
                                    @media-upload-remove-image="onImageRemove"
                            />

                            {% block sw_cms_element_youtube_video_config_preview_media_display %}
                                <div
                                        slot="preview"
                                        slot-scope="{ demoValue }"
                                        class="sw-cms-el-config-image__mapping-preview"
                                >
                                    <img
                                            v-if="demoValue.url"
                                            :src="demoValue.url"
                                            alt=""
                                    >
                                    <sw-alert
                                            v-else
                                            class="sw-cms-el-config-image__preview-info"
                                            variant="info"
                                    >
                                        {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                                    </sw-alert>
                                </div>
                            {% endblock %}

                        {% block sw_cms_element_youtube_video_config_preview_media_upload_listener %}
                            <sw-upload-listener
                                    :upload-tag="uploadTag"
                                    auto-upload
                                    @media-upload-finish="onImageUpload"
                            />
                        {% endblock %}

                        {% block sw_cms_element_youtube_video_config_preview_media_modal %}
                            <sw-media-modal-v2
                                    v-if="mediaModalIsOpen"
                                    variant="regular"
                                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                    :entity-context="cmsPageState.entityName"
                                    :allow-multi-select="false"
                                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                                    @media-upload-remove-image="onImageRemove"
                                    @media-modal-selection-change="onSelectionChanges"
                                    @modal-close="onCloseModal"
                            />
                        {% endblock %}
                    {% endblock %}
                </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
{% endblock %}
